#portfolio-index-section {
  min-height: 550px;
  background-color: #212121;
  box-shadow: 1px 1px 3px #212121;

  padding-top: 150px;
}

#portfolio-web-section .title{
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
}

#portfolio-web-tools-section .title {
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca;
}

#portfolio-web-tools-section {
  @media (min-width: 1200px){
    min-height: 817px;
  }
  @media (max-width: 1199px) {
    min-height: 720px;
  }
}

/*
  #project-web-tools-animate_1 {
    position: absolute;
    left: 2000px;
  }
  #project-web-tools-animate_2 {
    position: absolute;
    right: 2000px;
  }
*/


#project-title {
   background-color: rgba(0.7, 0.4, 0.3, 0.4);
   margin-top: 10%;

   font-family: killTheNoise, 'Lato';
   font-size: 35px;
   font-weight: 300;
   color: #cacaca;
 }

#project-body {
  background-color: transparent;
  margin-top: 1%;
  font-family: 'Roboto', 'Arial';
  font-size: 18px;
  font-weight: 100;
  color: #cacaca;
}

.project-example-button {
  width: 70%;
  border: 1px solid #00B0FF;
  background-color: transparent;
  margin-top: 20px;
  border-radius: 0px;
  height: 40px;
  line-height: 25px;
  color: #cacaca;
  transition: 1s ease all;
}

.project-example-button:hover {
  color: #00B0FF;
  background-color: rgba(66,66,66 ,0.3);
}

.project-item {
  margin-bottom: 10px;
}

