@font-face {
  font-family: killTheNoise;
  src: url("../font/Kill The Noise.otf"); }

.custom-hr {
  border-color: #00B0FF;
  margin-top: 10px;
  margin-bottom: 10px; }

.accent-text {
  color: #00B0FF; }

.accent-color {
  color: #00B0FF; }

.modal-close {
  border-radius: 50%;
  background-color: #00B0FF;
  padding: 12px;
  margin-top: -30px !important;
  color: #fff;
  transition: 0.5s ease all; }

.modal-header {
  border-bottom-color: #00B0FF !important; }

/* BASE STYLE */
/* END BASE STYLE */
/* INTRO SECTION */
#intro-section {
  box-shadow: 1px 1px 3px #212121; }

@media (max-width: 1390px) {
  #intro-corner > .row {
    margin-left: -240px; } }

@media (min-width: 1391px) {
  #intro-corner > .row {
    margin-left: -300px; } }

#intro-quote-box {
  background-color: #212121;
  margin-top: 100%;
  line-height: 35px; }
  @media (max-width: 1390px) {
    #intro-quote-box {
      height: 230px;
      width: 350px; } }
  @media (min-width: 1391px) {
    #intro-quote-box {
      height: 300px;
      width: 450px; } }

#intro-quote-box h1 {
  color: #fff;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media (max-width: 1390px) {
    #intro-quote-box h1 {
      font-size: 2.5em;
      margin-top: 30px; } }
  @media (min-width: 1391px) {
    #intro-quote-box h1 {
      font-size: 3em;
      margin-top: 50px; } }

#intro-quote-box h3 {
  font-family: Roboto, 'Arial';
  font-weight: 200;
  color: #fff;
  /*
    @media (max-width: 1390px) {
      font-size: 3em;
    }
    @media (min-width: 1391px) {
      font-size: 5em;
    }*/ }

#intro-quote-box p {
  font-family: 'Lato', 'Arial';
  font-weight: 600;
  color: #fff; }
  @media (max-width: 1390px) {
    #intro-quote-box p {
      font-size: 1.2em; } }
  @media (min-width: 1391px) {
    #intro-quote-box p {
      font-size: 1.5em; } }

#intro-corner {
  /*  border-bottom: 100% solid blue;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;*/
  height: 100%;
  background-color: #00B0FF; }

@media (max-width: 1540px) {
  .left-skew {
    position: relative; }
    .left-skew:before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -105px;
      display: block;
      width: 100%;
      background: #00B0FF;
      transform: skew(170deg); } }

@media (min-width: 1541px) {
  .left-skew {
    position: relative; }
    .left-skew:before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -195px;
      display: block;
      width: 100%;
      background: #00B0FF;
      transform: skew(170deg); } }

@media (max-width: 1265px) {
  .left-skew {
    position: relative; }
    .left-skew:before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -65px;
      display: block;
      width: 100%;
      background: #00B0FF;
      transform: skew(170deg); } }

#intro-section {
  background-image: url("../img/img/img_1.jpg");
  background-position: center;
  background-size: cover;
  /*  @media (max-width: 1390px) {
    height: 900px;
  }
  @media (min-width: 1391px) {
    height: 1000px;
  }*/ }

@media (max-width: 766px) {
  #intro-section > .row {
    height: 500px; } }

@media (max-width: 1390px) {
  #intro-section > .row {
    height: 700px; } }

@media (min-width: 1391px) {
  #intro-section > .row {
    height: 900px; } }

.play-button {
  margin-top: 30px;
  width: 60px;
  height: 35px;
  background: #00B0FF;
  position: relative;
  line-height: 35px;
  font-size: 1.9em; }

.play-button:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 15px solid #00B0FF; }

.play-button:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #00B0FF; }

.mobile-intro {
  z-index: 999;
  width: 100%;
  height: 100%; }
  .mobile-intro > h1 {
    font-family: 'Lato', 'Arial';
    color: #fff;
    font-size: 4em;
    background-color: #212121;
    font-weight: 600; }
  .mobile-intro > p {
    color: #fff;
    background-color: #212121;
    line-height: 1.7em;
    font-size: 1.6em;
    display: inline;
    padding: 0.5rem;
    text-align: center; }

/* END INTRO SECTION */
/* ABOUT US SECTION */
#about-section {
  overflow: hidden; }
  @media (min-width: 1200px) {
    #about-section {
      min-height: 750px; } }
  @media (max-width: 1199px) {
    #about-section {
      min-height: 500px; } }

#about-section .row h1.title {
  color: #fff; }

#about-us-title h1 {
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca; }

#about-us-body {
  background-color: rgba(1, 0, 0, 0.6);
  margin-top: 1%;
  font-family: 'Roboto', 'Arial';
  font-size: 18px;
  font-weight: 100;
  color: #cacaca; }

.about-box-frame {
  width: 100%;
  border: 2px solid #00B0FF;
  left: 2200px;
  position: relative;
  /*  display: none;*/
  margin-bottom: 15px; }
  @media (max-width: 991px) {
    .about-box-frame {
      min-height: 105px; } }
  @media (min-width: 992px) and (max-width: 1390px) {
    .about-box-frame {
      min-height: 145px; } }
  @media (min-width: 1391px) {
    .about-box-frame {
      min-height: 155px; } }

.about-box-icon {
  color: #00B0FF; }
  @media (max-width: 1390px) {
    .about-box-icon {
      font-size: 2.5em; } }
  @media (min-width: 1391px) {
    .about-box-icon {
      font-size: 3em;
      line-height: 95px; } }

.about-box-title {
  font-family: 'Lato', 'Arial';
  font-weight: 600;
  color: #fff; }
  @media (max-width: 1409px) {
    .about-box-title {
      font-size: 1em;
      text-align: center; } }
  @media (min-width: 1410px) {
    .about-box-title {
      font-size: 1.5em; } }

/* END ABOUT US SECTION */
/* EXAMPLE SECTION */
#example-section h1 {
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca; }

#example-section {
  background-image: url("../img/img/img_3.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 3px #212121; }

@media (max-width: 766px) {
  #example-section > .row {
    height: 450px; } }

@media (max-width: 1390px) {
  #example-section > .row {
    height: 500px; } }

@media (min-width: 1391px) {
  #example-section > .row {
    height: 700px; } }

.example-button {
  border: 1px solid #212121;
  margin-top: 20px;
  border-radius: 0px;
  height: 40px;
  line-height: 25px;
  transition: 1s ease all; }

.example-button:hover {
  background-color: rgba(66, 66, 66, 0.3); }

.example-description {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 600;
  color: #212121;
  text-align: justify; }

.example-info-box {
  height: 100%;
  background-color: #00B0FF;
  padding: 4em; }

/* END EXAMPLE SECTION */
/* TEAM SECTION */
#team-section {
  /*  height: 800px;*/
  overflow: hidden; }
  @media (min-width: 1200px) {
    #team-section {
      min-height: 800px; } }
  @media (max-width: 1199px) {
    #team-section {
      min-height: 550px; } }

#team-section h1 {
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca; }

.team-button {
  border: 1px solid #00B0FF;
  background-color: transparent;
  width: 100%;
  margin-top: 20px;
  border-radius: 0px;
  height: 40px;
  line-height: 25px;
  color: #cacaca;
  transition: 1s ease all; }

.team-button:hover {
  color: #00B0FF;
  background-color: rgba(66, 66, 66, 0.3); }

.hexagon {
  position: relative;
  width: 150px;
  height: 86.60px;
  margin: 43.30px 0;
  background-size: auto 161.6581px;
  background-position: center;
  border-left: solid 5px #00B0FF;
  border-right: solid 5px #00B0FF;
  margin-left: auto;
  margin-right: auto; }

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 16.97px; }

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 140.0000px;
  height: 80.82903768654762px;
  transform: rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  transform-origin: 0 0;
  background: inherit; }

.hexTop {
  top: -53.0330px;
  border-top: solid 7.0711px #00B0FF;
  border-right: solid 7.0711px #00B0FF; }

.hexTop:after {
  background-position: center top; }

.hexBottom {
  bottom: -53.0330px;
  border-bottom: solid 7.0711px #00B0FF;
  border-left: solid 7.0711px #00B0FF; }

.hexBottom:after {
  background-position: center bottom; }

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 140.0000px;
  height: 80.8290px;
  z-index: 2;
  background: inherit; }

.team-text-box {
  min-height: 100px; }

/* END TEAM SECTION */
/* CONTACT SECTION */
#contact-section {
  background-image: url("../img/img/img_4_1.jpg");
  background-position: center;
  background-size: cover; }

#contact-section h1 {
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca; }

.send-message-button {
  border: 2px solid #00B0FF;
  box-shadow: 5px 5px 0px #00B0FF;
  border-radius: 1px;
  color: #00b0ff;
  background-color: transparent;
  width: 50%;
  margin-top: 20px;
  height: 40px;
  line-height: 20px;
  font-weight: 600;
  transition: all 1s;
  background-color: rgba(255, 255, 255, 0.85); }

.send-message-button:hover {
  background-color: rgba(41, 182, 246, 0.85); }

#contact-form .form-control {
  height: 45px;
  border: 2px solid #00B0FF;
  box-shadow: 5px 5px 0px #00B0FF;
  border-radius: 1px;
  color: #00b0ff;
  font-weight: 600;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: rgba(255, 255, 255, 0.85); }

textarea {
  resize: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  color: #00B0FF !important; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  color: #00B0FF !important; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  color: #00B0FF !important; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  color: #00B0FF !important; }

/* END CONTACT SECTION */
#portfolio-index-section {
  min-height: 550px;
  background-color: #212121;
  box-shadow: 1px 1px 3px #212121;
  padding-top: 150px; }

#portfolio-web-section .title {
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600; }

#portfolio-web-tools-section .title {
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca; }

@media (min-width: 1200px) {
  #portfolio-web-tools-section {
    min-height: 817px; } }

@media (max-width: 1199px) {
  #portfolio-web-tools-section {
    min-height: 720px; } }

/*
  #project-web-tools-animate_1 {
    position: absolute;
    left: 2000px;
  }
  #project-web-tools-animate_2 {
    position: absolute;
    right: 2000px;
  }
*/
#project-title, #video-title {
  background-color: rgba(1, 0, 0, 0.4);
  margin-top: 10%;
  font-family: killTheNoise, 'Lato';
  font-size: 35px;
  font-weight: 300;
  color: #cacaca; }

#project-body, #video-body {
  background-color: transparent;
  margin-top: 1%;
  font-family: 'Roboto', 'Arial';
  font-size: 18px;
  font-weight: 100;
  color: #cacaca; }

.project-example-button {
  width: 70%;
  border: 1px solid #00B0FF;
  background-color: transparent;
  margin-top: 20px;
  border-radius: 0px;
  height: 40px;
  line-height: 25px;
  color: #cacaca;
  transition: 1s ease all; }

.project-example-button:hover {
  color: #00B0FF;
  background-color: rgba(66, 66, 66, 0.3); }

.project-item {
  margin-bottom: 10px; }

.container-fluid > .row {
  margin-left: 0px;
  margin-right: 0px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

body {
  background-size: cover;
  background-color: #2c3e50; }

.title {
  font-family: killTheNoise,'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #cacaca; }

.title-second {
  font-family: 'Lato', killTheNoise;
  font-size: 45px;
  font-weight: 300;
  color: #cacaca; }

.active a {
  color: #03A9F4 !important; }

a {
  color: #212121; }

.navbar-fixed-top.affix-top .navbar-nav a {
  font-family: Roboto, 'Lato', 'Arial', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  transition: 0.45s ease all;
  line-height: 60px;
  color: #fff; }

.navbar-fixed-top.affix-top .navbar-nav a:hover {
  text-shadow: 3px 3px 1px #03A9F4; }

.navbar-fixed-top.affix .navbar-nav a {
  animation-name: changeLineHeight;
  animation-duration: 0.8s; }

.navbar-fixed-top.return-properties.affix-top .navbar-nav a {
  animation-name: changeLineHeightBack;
  animation-duration: 0.8s; }

nav .navbar-nav a:hover {
  color: #03A9F4;
  background: transparent; }

nav .navbar-nav a:focus {
  background: transparent; }

nav.navbar.navbar-fixed-top.affix {
  animation-name: changeColor;
  animation-duration: 0.8s;
  background-color: #F5F5F5; }

nav.navbar.navbar-fixed-top.return-properties.affix-top {
  animation-name: changeColorBack;
  animation-duration: 0.5s;
  background-color: transparent; }

nav.navbar.navbar-fixed-top.affix .title {
  animation-name: changeSize;
  animation-duration: 0.8s;
  font-size: 30px; }

nav.navbar.navbar-fixed-top.return-properties.affix-top .title {
  animation-name: changeSizeBack;
  animation-duration: 0.8s;
  font-size: 50px; }

nav.navbar.navbar-fixed-top.affix .title-second {
  animation-name: changeSizeSecond;
  animation-duration: 0.8s;
  font-size: 25px; }

nav.navbar.navbar-fixed-top.return-properties.affix-top .title-second {
  animation-name: changeSizeSecondBack;
  animation-duration: 0.8s;
  font-size: 45px; }

@keyframes changeColor {
  from {
    background-color: transparent; }
  to {
    background-color: #F5F5F5; } }

@keyframes changeColorBack {
  from {
    background-color: #F5F5F5; }
  to {
    background-color: transparent; } }

nav.navbar.navbar-fixed-top.affix h1 {
  animation-name: headerMargin;
  animation-duration: 0.8s;
  margin-top: 5px;
  margin-bottom: 5px; }

nav.navbar.navbar-fixed-top.return-properties.affix-top h1 {
  animation-name: headerMarginBack;
  animation-duration: 0.8s;
  margin-top: 20px;
  margin-bottom: 10px; }

.navbar-toggle .icon-bar {
  background-color: #03A9F4; }

@keyframes changeSize {
  from {
    font-size: 50px; }
  to {
    font-size: 30px; } }

@keyframes changeSizeBack {
  from {
    font-size: 30px; }
  to {
    font-size: 50px; } }

@keyframes changeSizeSecond {
  from {
    font-size: 45px; }
  to {
    font-size: 25px; } }

@keyframes changeSizeSecondBack {
  from {
    font-size: 25px; }
  to {
    font-size: 45px; } }

@keyframes headerMargin {
  from {
    margin-top: 20px;
    margin-bottom: 10px; }
  to {
    margin-top: 5px;
    margin-bottom: 5px; } }

@keyframes headerMarginBack {
  from {
    margin-top: 5px;
    margin-bottom: 5px; }
  to {
    margin-top: 20px;
    margin-bottom: 10px; } }

@keyframes changeLineHeight {
  from {
    line-height: 60px; }
  to {
    line-height: 20px; } }

@keyframes changeLineHeightBack {
  from {
    line-height: 20px; }
  to {
    line-height: 60px; } }

#video-body {
  background-color: rgba(1, 0, 0, 0.6); }

#team-body h2 {
  font-family: killTheNoise, 'Roboto'; }

#project-body h2, #video-body h2 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 100; }

#portfolio-web-section {
  background-image: url("../img/img/img_5.jpg");
  background-position: center;
  background-size: cover; }

.alert-message-success {
  background-color: #689F38;
  color: #fff; }

.alert-message-danger {
  background-image: none;
  background-color: #DD2C00 !important;
  border-color: #dd2c00;
  color: #fff; }

/* FOOTER */
.footer {
  bottom: 0;
  width: 100%;
  /*  height: 350px;*/
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #00B0FF; }

.footer .container p {
  font-family: 'Lato', 'Arial';
  font-size: 16px;
  color: #687077; }

.footer-nav.nav > li > a:focus, .footer-nav.nav > li > a:hover {
  background-color: transparent;
  color: #fff; }

.soc-hexagon {
  position: relative;
  width: 40px;
  height: 23.09px;
  margin: 11.55px 0;
  background-size: auto 39.2598px;
  border-left: solid 3px #CDDC39;
  border-right: solid 3px #CDDC39;
  color: #CDDC39;
  cursor: pointer; }

.soc-hexTop,
.soc-hexBottom {
  position: absolute;
  z-index: 1;
  width: 28.28px;
  height: 28.28px;
  overflow: hidden;
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 2.86px; }

/*counter transform the bg image on the caps*/
.soc-hexTop:after,
.soc-hexBottom:after {
  content: "";
  position: absolute;
  width: 34.0000px;
  height: 19.62990915244728px;
  transform: rotate(45deg) scaleY(1.7321) translateY(-9.815px);
  transform-origin: 0 0;
  background: inherit; }

.soc-hexTop {
  top: -14.1421px;
  border-top: solid 4.2426px #CDDC39;
  border-right: solid 4.2426px #CDDC39; }

.soc-hexTop:after {
  background-position: center top; }

.soc-hexBottom {
  bottom: -14.1421px;
  border-bottom: solid 4.2426px #CDDC39;
  border-left: solid 4.2426px #CDDC39; }

.soc-hexBottom:after {
  background-position: center bottom; }

.soc-hexagon:after {
  content: "";
  position: absolute;
  top: 1.7321px;
  left: 0;
  width: 34.0000px;
  height: 19.6299px;
  z-index: 2;
  background: inherit; }

/* END FOOTER */

/*# sourceMappingURL=app.css.map */
