.custom-hr {
  border-color: #00B0FF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accent-text {
  color:  #00B0FF;//#CDDC39;
}

.accent-color {
  color:  #00B0FF;
}


.modal-close {
  border-radius: 50%;
  background-color: #00B0FF;
  padding: 12px;
  margin-top: -30px !important;
  color: #fff;
  transition: 0.5s ease all;
}

.modal-header {
  border-bottom-color: #00B0FF !important;
}