.footer{
  bottom: 0;
  width: 100%;
  /*  height: 350px;*/
  //position: fixed;
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #00B0FF;
}


.footer .container p{
  font-family: 'Lato', 'Arial';
  font-size: 16px;
  color: #687077;
}

.footer-nav.nav>li>a:focus, .footer-nav.nav>li>a:hover {
  background-color: transparent;
  color: #fff;
}


.soc-hexagon {
  position: relative;
  width: 40px;
  height: 23.09px;
  margin: 11.55px 0;
  background-size: auto 39.2598px;
  border-left: solid 3px #CDDC39;
  border-right: solid 3px #CDDC39;
  color: #CDDC39;
  cursor: pointer;
}

.soc-hexTop,
.soc-hexBottom {
  position: absolute;
  z-index: 1;
  width: 28.28px;
  height: 28.28px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 2.86px;
}

/*counter transform the bg image on the caps*/
.soc-hexTop:after,
.soc-hexBottom:after {
  content: "";
  position: absolute;
  width: 34.0000px;
  height: 19.62990915244728px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-9.8150px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-9.8150px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-9.8150px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.soc-hexTop {
  top: -14.1421px;
  border-top: solid 4.2426px #CDDC39;
  border-right: solid 4.2426px #CDDC39;
}

.soc-hexTop:after {
  background-position: center top;
}

.soc-hexBottom {
  bottom: -14.1421px;
  border-bottom: solid 4.2426px #CDDC39;
  border-left: solid 4.2426px #CDDC39;
}

.soc-hexBottom:after {
  background-position: center bottom;
}

.soc-hexagon:after {
  content: "";
  position: absolute;
  top: 1.7321px;
  left: 0;
  width: 34.0000px;
  height: 19.6299px;
  z-index: 2;
  background: inherit;
}