.active a {
  color: #03A9F4 !important;//#CDDC39;
}

a {
  color: #212121;
}

.navbar-fixed-top.affix-top .navbar-nav a{

  font-family: Roboto, 'Lato', 'Arial', sans-serif;
  font-size: 1.2em;
  // color: #cacaca;
  font-weight: 400;
  transition: 0.45s ease all;
  line-height: 60px;
  color: #fff;
}

.navbar-fixed-top.affix-top .navbar-nav a:hover {
  text-shadow: 3px 3px 1px #03A9F4;
}


.navbar-fixed-top.affix .navbar-nav a{
  animation-name: changeLineHeight;
  animation-duration: 0.8s;
}

.navbar-fixed-top.return-properties.affix-top .navbar-nav a{
  animation-name: changeLineHeightBack;
  animation-duration: 0.8s;
}

nav .navbar-nav a:hover{
  color: #03A9F4;//#CDDC39;//#FDD835;//#E91E63;//#2275d7;
  background: transparent;
}

nav .navbar-nav a:focus{
  background: transparent;
}

nav.navbar.navbar-fixed-top.affix {
  animation-name: changeColor;
  animation-duration: 0.8s;
  background-color: #F5F5F5;
}

nav.navbar.navbar-fixed-top.return-properties.affix-top {
  animation-name: changeColorBack;
  animation-duration: 0.5s;
  background-color: transparent;
}

nav.navbar.navbar-fixed-top.affix .title {
  animation-name: changeSize;
  animation-duration: 0.8s;
  font-size: 30px;
}

nav.navbar.navbar-fixed-top.return-properties.affix-top .title {
  animation-name: changeSizeBack;
  animation-duration: 0.8s;
  font-size: 50px;
}

nav.navbar.navbar-fixed-top.affix .title-second {
  animation-name: changeSizeSecond;
  animation-duration: 0.8s;
  font-size: 25px;
}

nav.navbar.navbar-fixed-top.return-properties.affix-top .title-second {
  animation-name: changeSizeSecondBack;
  animation-duration: 0.8s;
  font-size: 45px;
}

@keyframes changeColor {
  from {background-color: transparent;}
  to {background-color: #F5F5F5;}
}

@keyframes changeColorBack {
  from {background-color: #F5F5F5;}
  to {background-color: transparent;}
}

nav.navbar.navbar-fixed-top.affix h1 {
  animation-name: headerMargin;
  animation-duration: 0.8s;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav.navbar.navbar-fixed-top.return-properties.affix-top h1 {
  animation-name: headerMarginBack;
  animation-duration: 0.8s;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar-toggle .icon-bar {
  background-color: #03A9F4;
}