// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin skew($side: right, $deg: -20deg, $right: -15px, $left: -15px, $width: 450px, $bg: #fff) {
  position: relative;

  &:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;

    @if $side == right {
      right: $right;
    }
    @else if $side == left {
      left: $left;
    }

    display: block;
    width: $width;
    background: $bg;
    -webkit-transform: skew($deg);
    -ms-transform: skew($deg);
    transform: skew($deg);
  }
}

@font-face {
  font-family: killTheNoise;
  src: url('../font/Kill The Noise.otf');
}


@import "misc/basic";

/* BASE STYLE */

/* END BASE STYLE */

/* INTRO SECTION */
@import "sections/intro";
/* END INTRO SECTION */

/* ABOUT US SECTION */
@import "sections/about";
/* END ABOUT US SECTION */

/* EXAMPLE SECTION */
@import "sections/example";
/* END EXAMPLE SECTION */

/* TEAM SECTION */
@import "sections/team";
/* END TEAM SECTION */

/* CONTACT SECTION */
@import "sections/contact";
/* END CONTACT SECTION */


//PAGES

//PROJEct

@import "pages/project";

.container-fluid > .row {
  margin-left: 0px;
  margin-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container-fluid {

  padding-left: 0px;
  padding-right: 0px;

}

body {
  //background-image: url("../img/kdh6.jpg");
  background-size: cover;
  background-color: #2c3e50;
}

.title {
  font-family: killTheNoise,'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #cacaca;
}

.title-second{
  font-family: 'Lato', killTheNoise;
  font-size: 45px;
  font-weight: 300;
  color: #cacaca;
}

@import "misc/navigator";
@import "sections/animations";





#video-title {
  @extend #project-title;
}

#video-body {
  @extend #project-body;

  background-color: rgba(0.7,0.4,0.3, 0.6);
}



#team-body h2 {
  font-family: killTheNoise, 'Roboto';
}

#project-body h2 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
}

#portfolio-index-section {
}

#about-section{
}

#portfolio-web-section {
  background-image: url('../img/img/img_5.jpg');
  background-position: center;
  background-size: cover;
}


.alert-message-success {
  background-color: #689F38;
  color: #fff;
}

.alert-message-danger {
  background-image: none;
  background-color: #DD2C00!important;
  border-color: #dd2c00;
  color: #fff;
}

/* FOOTER */
  @import "misc/footer";
/* END FOOTER */