#about-section {
  overflow: hidden;

  @media (min-width: 1200px){
    min-height: 750px;
  }

  @media (max-width: 1199px) {
    min-height: 500px;
  }

}

#about-section .row h1.title {
  color: #fff;
}

#about-us-title h1 {
  //background-color: rgba(0.7, 0.4, 0.3, 0.4);
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca;
}

#about-us-body {

  background-color: rgba(0.7,0.4,0.3, 0.6);
  margin-top: 1%;
  font-family: 'Roboto', 'Arial';
  font-size: 18px;
  font-weight: 100;
  color: #cacaca;
}

.about-box-frame {
  width: 100%;
  border: 2px solid #00B0FF;//#CDDC39;
  left: 2200px;
  position: relative;
/*  display: none;*/
  margin-bottom: 15px;

  @media (max-width: 991px) {
    min-height: 105px;
  }
  @media (min-width: 992px) and (max-width: 1390px) {
    min-height: 145px;
  }
  @media (min-width: 1391px) {
    min-height: 155px;
  }

}

.about-box-icon {

  color: #00B0FF;//#CDDC39;

  @media (max-width: 1390px) {
    font-size: 2.5em;
  //  line-height: 105px;
  }
  @media (min-width: 1391px) {
    font-size: 3em;
    line-height: 95px;
  }
}

.about-box-title {

  font-family: 'Lato', 'Arial';
  font-weight: 600;
  color: #fff;

  @media (max-width: 1409px) {
    font-size: 1em;
    text-align: center;
  }
  @media (min-width: 1410px) {
    font-size: 1.5em;
  }
}