@keyframes changeSize {
  from {font-size: 50px;}
  to {font-size: 30px;}
}

@keyframes changeSizeBack {
  from {font-size: 30px;}
  to {font-size: 50px;}
}


@keyframes changeSizeSecond {
  from {font-size: 45px;}
  to {font-size: 25px;}
}

@keyframes changeSizeSecondBack {
  from {font-size: 25px;}
  to {font-size: 45px;}
}

@keyframes headerMargin {
  from {margin-top: 20px; margin-bottom: 10px;}
  to {margin-top: 5px; margin-bottom: 5px;}
}

@keyframes headerMarginBack {
  from {margin-top: 5px; margin-bottom: 5px;}
  to {margin-top: 20px; margin-bottom: 10px;}
}

@keyframes changeLineHeight {
  from {line-height: 60px;}
  to {line-height: 20px}
}

@keyframes changeLineHeightBack {
  from {line-height: 20px;}
  to {line-height: 60px}
}
