#contact-section{
  background-image: url('../img/img/img_4_1.jpg');
  background-position: center;
  background-size: cover;
}

#contact-section h1 {
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca;
}

.send-message-button {
  border: 2px solid #00B0FF;
  box-shadow: 5px 5px 0px #00B0FF;
  border-radius: 1px;
  color: #00b0ff;
  background-color: transparent;
  width: 50%;
  margin-top: 20px;
  height: 40px;
  line-height: 20px;
  font-weight: 600;
  transition: all 1s;

  background-color: rgba(255,255,255 ,0.85);
}

.send-message-button:hover {
 // color: #fff;
  background-color: rgba(41,182,246 ,0.85);
}

#contact-form .form-control {
  //background-color: transparent;
  height: 45px;
  border: 2px solid #00B0FF;
  box-shadow: 5px 5px 0px #00B0FF;;
  border-radius: 1px;
  color: #00b0ff;
  font-weight: 600;
  font-family:'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: rgba(255,255,255 ,0.85);
}

textarea {
  resize: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family:'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  color: #00B0FF !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family:'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  color: #00B0FF !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family:'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  color: #00B0FF !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-family:'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  color: #00B0FF !important;
}
