#example-section h1 {
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca;
}


#example-section{
  background-image: url('../img/img/img_3.jpg');
  background-position: center;
  background-size: cover;

  box-shadow: 1px 1px 3px #212121;
}

#example-section > .row {
  @media (max-width: 766px) {
    height: 450px;
  }
  @media (max-width: 1390px) {
    height: 500px;
  }
  @media (min-width: 1391px) {
    height: 700px;
  }
}

.example-button {
  border: 1px solid #212121;
  //width: 50%;
  margin-top: 20px;
  border-radius: 0px;
  height: 40px;
  line-height: 25px;
  transition: 1s ease all;
}

.example-button:hover {
  background-color: rgba(66,66,66 ,0.3);
}

.example-description {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 600;
  color: #212121;
  text-align: justify;
}

.example-info-box {
  height: 100%;
  background-color: #00B0FF;
  padding: 4em;
}