
#intro-section {
  box-shadow: 1px 1px 3px #212121;
}

#intro-corner > .row {
  @media (max-width: 1390px) {
    margin-left: -240px;
  }

  @media (min-width: 1391px) {
    margin-left: -300px;
  }
}

#intro-quote-box {
  background-color: #212121;
  //box-shadow:4px 1px 4px #424242;
  margin-top: 100%;
  line-height: 35px;

  @media (max-width: 1390px) {
    height: 230px;
    width: 350px;
  }

  @media (min-width: 1391px) {
    height: 300px;
    width: 450px;
  }
}

#intro-quote-box h1 {
  color: #fff;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media (max-width: 1390px) {
    font-size: 2.5em;
    margin-top: 30px;
  }
  @media (min-width: 1391px) {
    font-size: 3em;
    margin-top: 50px;
  }
}

#intro-quote-box h3 {
  font-family: Roboto, 'Arial';
  font-weight: 200;
  color: #fff;
  /*
    @media (max-width: 1390px) {
      font-size: 3em;
    }
    @media (min-width: 1391px) {
      font-size: 5em;
    }*/
}

#intro-quote-box p {
  font-family: 'Lato', 'Arial';
  font-weight: 600;
  color: #fff;

  @media (max-width: 1390px) {
    font-size: 1.2em;
  }
  @media (min-width: 1391px) {
    font-size: 1.5em;
  }
}

#intro-corner {
  /*  border-bottom: 100% solid blue;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;*/
  height: 100%;
  background-color: #00B0FF;
}

.left-skew {
  @media (max-width: 1540px) {
    @include skew($side: left, $bg: #00B0FF, $deg: 170deg, $left: -105px, $width: 100%);
  }

  @media (min-width: 1541px) {
    @include skew($side: left, $bg: #00B0FF, $deg: 170deg, $left: -195px, $width: 100%);
  }

  @media (max-width: 1265px) {
    @include skew($side: left, $bg: #00B0FF, $deg: 170deg, $left: -65px, $width: 100%);
  }
}

#intro-section {
  background-image: url('../img/img/img_1.jpg');
  background-position: center;
  background-size: cover;

/*  @media (max-width: 1390px) {
    height: 900px;
  }
  @media (min-width: 1391px) {
    height: 1000px;
  }*/
}

#intro-section > .row {

  @media (max-width: 766px) {
    height: 500px;
  }
  @media (max-width: 1390px) {
    height: 700px;
  }
  @media (min-width: 1391px) {
    height: 900px;
  }
}


.play-button {
  margin-top: 30px;
  width: 60px;
  height: 35px;
  background: #00B0FF;
  position: relative;
  line-height: 35px;
  font-size: 1.9em;
}
.play-button:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 15px solid #00B0FF;
}
.play-button:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #00B0FF;
}

.mobile-intro {
  z-index: 999;
  width: 100%;
  height: 100%;

  &>h1 {
    font-family: 'Lato', 'Arial';
    color: #fff;
    font-size: 4em;
    background-color: #212121;
    font-weight: 600;
  }

  &>p {
    color: #fff;
    background-color: #212121;
    line-height: 1.7em;
    font-size: 1.6em;
    display: inline;
    padding: 0.5rem;
    text-align: center;
  }

}
