#team-section {
  /*  height: 800px;*/
  // background-image: url('../img/img/pw_maze_black.png');

  overflow: hidden;

  @media (min-width: 1200px){
    min-height: 800px;
  }

  @media (max-width: 1199px) {
    min-height: 550px;
  }
}

#team-section h1 {
  margin-top: 10%;
  font-family: 'Lato', killTheNoise, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #cacaca;
}

.team-button {
  border: 1px solid #00B0FF;//#CDDC39;
  background-color: transparent;
  width: 100%;
  margin-top: 20px;
  border-radius: 0px;
  height: 40px;
  line-height: 25px;
  color: #cacaca;
  transition: 1s ease all;
}

.team-button:hover {
  color: #00B0FF;//#CDDC39;
  background-color: rgba(66,66,66 ,0.3);
}

.hexagon {
  position: relative;
  width: 150px;
  height: 86.60px;
  margin: 43.30px 0;
  // background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 161.6581px;
  background-position: center;
  border-left: solid 5px #00B0FF;//#CDDC39;//#FDD835;
  border-right: solid 5px #00B0FF;//#CDDC39;//#FDD835;

  margin-left: auto;
  margin-right: auto;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 16.97px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 140.0000px;
  height: 80.82903768654762px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -53.0330px;
  border-top: solid 7.0711px #00B0FF;//#CDDC39;
  border-right: solid 7.0711px #00B0FF;//#CDDC39;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -53.0330px;
  border-bottom: solid 7.0711px #00B0FF;//#CDDC39;
  border-left: solid 7.0711px #00B0FF;//#CDDC39;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 140.0000px;
  height: 80.8290px;
  z-index: 2;
  background: inherit;
}

.team-text-box {
  min-height: 100px;
}